
.vs/DrawGridConsole/FileContentIndex/

.vs/DrawGridConsole/v17/

DrawGrid/bin/Debug/net8.0/

.vs/DrawGridConsole/DesignTimeBuild/

DrawGrid/obj/Debug/net8.0/

DrawGrid/obj/

DrawGridConsole/bin/Debug/net8.0/

DrawGridConsole/obj/Debug/net8.0/

DrawGridConsole/obj/
