
.vs/DrawGridConsole/FileContentIndex/

.vs/DrawGridConsole/v17/

DrawGrid/bin/Debug/net8.0/

.vs/DrawGridConsole/DesignTimeBuild/

DrawGrid/obj/Debug/net8.0/

DrawGrid/obj/

DrawGridConsole/bin/Debug/net8.0/

DrawGridConsole/obj/Debug/net8.0/

DrawGridConsole/obj/

.vs/ProjectEvaluation/

ImageSimple/bin/Debug/net8.0-windows/

ImageSimple/obj/Debug/net8.0-windows/

ImageSimple/obj/

SplitImages/bin/Debug/net8.0/

SplitImages/obj/Debug/net8.0/ref/

*.dll

SplitImages/obj/Debug/net8.0/

SplitImages/obj/

SplitImagesConsole/bin/Debug/net8.0/Images/In/

SplitImagesConsole/bin/Debug/net8.0/Images/Out/

SplitImagesConsole/bin/Debug/net8.0/

SplitImagesConsole/obj/Debug/net8.0/

SplitImagesConsole/obj/

MergeImages/obj/

MergeImagesConsole/bin/Debug/net8.0/Images/Rows/3/

MergeImagesConsole/bin/Debug/net8.0/Images/Rows/4/

MergeImagesConsole/bin/Debug/net8.0/

MergeImagesConsole/obj/Debug/net8.0/

MergeImagesConsole/obj/

MergeImages/bin/Debug/net8.0/
